 .contact {
    margin-left: 130px;
    margin-bottom: 60px;
    padding-top: 50px;
 }

 .card {
   box-shadow: 0px 4px 8px 0px #757575 ;
   border-radius: 0px;
   
 }
 
 .card1 .image {
   padding: 30px;
   margin-top: 30px;
   height: 75%;
   width: 75%;
 }
.orline{
   display: flex;
   justify-content: center;
}
 .line {
   height: 1px;
   width: 45px;
   background-color: #e0e0e0;
   margin-top: 10px;
   text-align: center;
   width: 100%;
 }

 .or{
   display: flex;
   width: 10%;
   font-weight: bold;
   justify-content: center;
   width: 100%;
 }

 ::placeholder {
   color: #bdbdbd;
   opacity: 1;
   font-weight: 300;
 }

 input,textarea {
   padding: 10px 12px;
   border: 1px solid lightgray;
   border-radius: 2px;
   margin-top: 5px;
   width: 100%;
   color: #138781;
   font-size: 1rem;
   letter-spacing: 1px;
 }

 input:focus,
 textarea:focus {
   box-shadow: none !important;
   outline: 1px solid #138781 !important;
   outline-width: 0px;
 }

 .button {
  box-shadow: none;
  outline-width: 0px;
  padding: 10px 0px;
  border: none;
  transition: all 0.5s ease-in-out; 
  background-color: #138781;
 }

 .contactForm{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .contactFormDiv{
   width: 450px;
 }
 .button:hover{
   box-shadow: 7px 7px 7px  #bdbdbd;
   transition: all 0.5s ease-in-out; 
   
 }